body {
  font-family: "Roboto", Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: #f9f9f9;  /* Light background for daily theme */
  color: #333;
  transition: background-color 0.3s, color 0.3s;
}

/* Sidebar Styles */
.sidebar {
  width: 250px;
  height: calc(100vh - 20px);
  background-color: #333;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  transition: width 0.3s, padding 0.3s;
}

.sidebar.expanded {
  width: 300px;
}

.sidebar-content {
  padding: 20px;
  transition: padding 0.3s;
}

.sidebar img {
  display: block;
  margin-top: -40px;
  margin-bottom: 20px;
  transform: rotate(90deg);
  transition: transform 0.3s, margin-top 0.3s, margin-bottom 0.3s;
}

.sidebar.expanded img {
  transform: rotate(0deg);
}

.task-bar button {
  display: block;
  margin-bottom: 10px;
  background-color: transparent;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 7px;
  transition: background-color 0.3s, transform 0.2s;
}

.task-bar button:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transform: translateY(-2px);
}

.theme-toggle {
  padding: 5px 10px;
  border: 2px solid #fff;
  border-radius: 5px;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  text-align: center;
  margin-top: auto;
  position: absolute;
  bottom: 20px;
  transition: background-color 0.3s, transform 0.2s;
}

.theme-toggle:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transform: translateY(-2px);
}

.todo-container {
  flex-grow: 1;
  max-width: 800px;
  margin: 0 auto;
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  box-sizing: border-box;
  background-color: #fff;
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: margin 0.3s, padding 0.3s, width 0.3s;
}

.todo-container input[type="text"] {
  width: calc(100% - 42px);
  padding: 10px;
  margin: 0 auto;
  display: block;
  border: 2px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  margin-bottom: 20px;
  font-size: 16px;
  background-color: #f0f0f0;
  color: #333;
  transition: border-color 0.3s, background-color 0.3s, color 0.3s;
}

/* ToDo Container Styles */
.todo-container input[type="text"]:focus {
  border-color: #00bcd4;
}

.task-text {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #fff;
  color: #333;
  transition: border-color 0.3s;
}

.task-text:hover {
  border-color: #00bcd4;
}

.complete-btn {
  width: 20px;
  height: 20px;
  border: 3px solid #00bcd4;
  border-radius: 50%;
  margin-left: 10px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.complete-btn.completed {
  background-color: #00bcd4;
}

.complete-btn:hover {
  transform: scale(1.1);
}

.night-mode {
  background-color: #171717;
  color: #fff;
  transition: background-color 0.3s, color 0.3s;
}

.night-mode .todo-container {
  background-color: #3c3c3c;
  transition: background-color 0.3s;
}

.night-mode .todo-container input[type="text"] {
  background-color: #444;
  border-color: #555;
  color: #fff;
}

.night-mode .task-text {
  background-color: #444;
  border-color: #555;
  color: #fff;
}

.night-mode .complete-btn {
  border-color: #888;
  background-color: #4d94ff;
}

.night-mode .complete-btn.completed {
  background-color: #99ccff;
}

.night-mode input[type="text"] {
  background-color: #333;
  color: #fff;
}

.night-mode .complete-btn:not(.completed) {
  background-color: #335577;
}

.category-icon {
  margin-right: 10px;
  font-size: 24px;
  color: #00bcd4;
}

.category-text {
  color: #fff;
}

.night-mode .category-text {
  color: #bbb; /* Lighter color for better visibility in dark theme */
}

#addCategoryButton {
  background-color: #00bcd4;
  color: #1f1f1f;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  transition: background-color 0.3s, transform 0.2s;
}

#addCategoryButton:hover {
  background-color: #00a0b2;
  transform: translateY(-2px);
}

/* Adaptive design */
@media only screen and (max-width: 1024px) {
  .sidebar {
    width: 200px;
  }

  .todo-container {
    width: calc(100% - 220px);
    margin: 10px;
    padding: 15px;
  }
}

@media only screen and (max-width: 768px) {
  .sidebar {
    width: 150px;
    padding: 10px;
  }

  .sidebar-content {
    padding: 10px;
  }

  .category {
    width: auto;
    padding: 5px 10px;
  }

  .todo-container {
    width: calc(100% - 170px);
    margin: 0;
    border: none;
    border-radius: 0;
    padding: 10px;
  }

  .todo-container input[type="text"] {
    width: calc(100% - 22px);
  }

  .theme-toggle {
    position: static;
    margin-top: 10px;
  }
}

@media only screen and (max-width: 480px) {
  body {
    flex-direction: column;
    align-items: stretch;
  }

  .sidebar {
    width: 100%;
    height: auto;
    box-shadow: none;
    padding: 10px 0;
  }

  .todo-container {
    width: 100%;
    margin: 0;
    border: none;
    border-radius: 0;
    padding: 10px 15px;
  }

  .todo-container input[type="text"] {
    width: calc(100% - 30px);
  }
}
